<div class="col-md-12 -from-usual"><div class="media rg-sitem">
	<a class="pull-left" href="//varzob.rg.tj/houses/207643" target="_blank">
		<img class="media-object rg-sitem-pic" src="/data/rg.tj/data/2076/207643/0_thumb.jpg" alt="Одноэтажный двухкомнатный жилой дом на продажу">
	</a>
	<div class="media-body">
		<div class="clearfix rg-sitem-title">
			<div class="rg-sitem-money hidden-xs">450 000 сом.</div>
			<h4 class="media-heading rg-sitem-heading">
			<a class="hidden-xs" href="//varzob.rg.tj/houses/207643" target="_blank">Одноэтажный двухкомнатный жилой дом на продажу</a>
			<a class="hidden-sm hidden-md hidden-lg" href="//varzob.rg.tj/houses/207643" target="_blank">Одноэтажный 2-к. жилой дом... </a>
			</h4>
		</div>
		<div class="rg-sitem-descr rg-sitem-vars"><span class="hidden-sm hidden-md hidden-lg rg-sitem-price">450 000 сом.</span></div><div class="rg-sitem-descr rg-sitem-vars"></div>				<div class="rg-sitem-sub rg-sitem-vars">
		<span class="rg-block">23.05.2019</span><br>
		<span class="rg-block imgs-count">
			<span class="glyphicon glyphicon-camera"></span> 3				</span>
			<span class="rg-block">Варзоб</span>
			<!-- ko widget: {name:"favChecker",id:207643} --><span class="rg-block hidden-xs">
			<span class="rg-fav-check" data-bind="css:{'rg-fav-checked':checked},click:checked.bind($data,!checked()),dict:checked()?'checked':'check'">Отметить</span>
			</span><!-- /ko -->
			<!-- ko widgetInline: {name:"favChecker",id:207643} -->
			<div class="hidden-md hidden-lg hidden-sm">
				<a href="#" role="button" class="favEdit" data-bind="click:toggle,css:{'rg-item-img-hmark-checked':checked}">
					<i data-bind="css:{'icon-heart':checked,'icon-heart-empty':!checked()}" class="icon-heart-empty"></i>
				</a>
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
</div>